/**** BODY ****/

* {
    box-sizing: border-box;
}

.container { 
    top: 0;
    left: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

/**** FIXED HEADER ****/

.header { 
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: cadetblue;
    z-index: 1;
}

.title h1 {
    font-size: 1.75em;
    font-family: arial;
    margin-bottom: 0;
    padding-left: 20px;
}

.contact {
    position: absolute;
    top: 20px;
    left: 500px;
    padding: 5px;
}

.nav a, .contact a {
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 5px 25px;
    color: black;
    text-decoration: none;
}

.nav {
    padding-top: 20px;
}

.nav a:visited, .contact a:visited {
    color: navyblue;
}

.nav a:hover, .contact a:hover {
    color: white;
} 

/**** MAIN CONTENT ****/

.content { 
    margin-top: 100px;
    background-color: lightblue;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 0;
}

h3 {
    padding-left: 20px;
    font-size: 1.5em;
    font-family: arial;
}

.anchor{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

.content ul {
    list-style: none;
}

ul.details {
    list-style: circle;
}