.container {
    width: 100%;
    height: 1200px;
    top:0;
    left: 0;
}

.container, .contact, .header, .experience, .education, .skills {
    position: absolute;
    font-family: Arial, sans-serif;
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.experience, .education, .skills {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(0%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 100%);
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 ); }

/**** HEADER *****/

.header {
    height: 100px;
    width: 700px;
    top: 0;
    left: 100px;
}

.contact {
    height: 100px;
    top: 0;
}

.linkedin, .mail {
    width: 32px;
    height: 32px;
    display: inline;
    padding-right: 10px;
}

/**** MAIN CONTENT ****/

.experience {
    width: 700px;
/*    height: 1000px; */
    top: 150px;
    left: 100px;
}

h3 {
    text-align: center;
}

.experience ul, .education ul, .skills ul {
    list-style: none;
}

ul.details {
    list-style: circle;
}

.education, .skills, .contact {
    left: 850px;
    width: 350px;
}

.education {
    height: 300px;
    top: 150px;
}


.skills {
/*  height: 650px; */
    top: 500px;
}
